/* Refont Musée d'Aquitaine - Justine Magry 2019 */
*{
	margin:0;
	padding: 0;
}

@font-face {
    font-family: 'Brilliant Signature 1';
    src: url('BrilliantSignature-1Regular.woff2') format('woff2'),
        url('BrilliantSignature-1Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


body{
	overflow-x: hidden;
}

.slider{
	width: 100vw;
	height: 100vh;
	position: absolute;
}

#slide1{
	background: no-repeat url("images/fond_page3.png"), #212121;
	background-size:70%;
	background-position-y: 10vh;
}

#slide2{
	background: no-repeat url("images/bastille\ fond.png"), #212121;
	background-size:100%;

}

#slide3{
	background: no-repeat url("images/junglefond.png"), #212121;
	background-size:100%;
}



.pharaon{
	position: absolute; 
	right: 5%;
	bottom: 0;
}
.titre{
	color: white;
	background-color:	rgb(117, 0, 0);
	width: 30vw;
	text-align: center;
	position: absolute;
	top: 5vh;
	font-family: "cinzel";
	letter-spacing: 5px;
	z-index: 2;
	font-size: 2.5em;

}
.date{
	color: white;
	font-family: Arial, Helvetica, sans-serif;
	position: absolute;
	top: 5vh;
	right: 15vw;
	letter-spacing: 2px;
	font-style: italic;
	font-size: 1.4em;

}

.contenu{
color: white;
position: absolute;
top: 20vh;
left: 15vw;

}

#content-title{
    font-family: 'Brilliant Signature 1';
	font-size: 5em;
}

#content-subtitle{
	font-size: 1.9em;
	font-family: Arial, Helvetica, sans-serif;
	letter-spacing: 9px;
	color: #b9830f ;
}
#content-text{
	font-family: helvetica;
	font-size: 1.7em;
	margin-bottom: 35px;
	line-height: 150%;
}

#content-link{	
	border: 2px #b9830f solid;
	text-decoration: none;
	color: #b9830f;
	font-size: 1.5em;
	padding: 5px;
	position: relative;
	left: 6.2em;
	z-index: 21;
	
}

#content-link:hover{
	border: 2px rgb(255, 230, 86) solid;
	color: rgb(255, 233, 106);
	
}

#slide-display{
	position: absolute;
	z-index: 2;
	bottom: 10%;
	left: 24%;
	display: inline-flex;
}

#slide-display span{
	display: block;
	width: 30px;
	height: 5px;
	background-color: #ffffff;
	margin: 10px;
	border-radius: 2px;
	opacity: 0.5;
}

#slide-display span:hover{
	opacity: 0.8;
}

.spselect{
	opacity: 1 !important;
}

#next{
	background-color: #ffffff;
	position: absolute;
	top: 50%;
	right: 2%;
	z-index: 2;
	width: 30px;
	height: 30px;
	border-radius: 25px;
	padding: 5px;
}

#back{
	background-color: #ffffff;
	position: absolute;
	top: 50%;
	left: 2%;
	z-index: 2;
	width: 30px;
	height: 30px;
	border-radius: 25px;
	padding: 5px;
}

.dino {
	position: absolute; 
	right: 0%;
	bottom: 0;
}

.liberte {
	position: absolute; 
	right: 5%;
	bottom: 10%;
}